<!doctype html>
<html>
<head>
    <title>Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Righteous|Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
  <body class="logInBody">
      <header class="titleHere">
        <section class="pic">
        </section>
        <section id="buts">
          <h1>Diary</h1>
          <a href="/login" class="btn btn-default">Log In</a>
          <a href="/signup" class="btn btn-default">Sign Up</a>
        </section>
      </header>
      <!-- <section class="homePageOne">
      </section> -->
      <section class="homePageTwo">
      </section>
  </body>
</html>