* {
  text-align: center;
}
body {
  background-image: url(journal.jpg);
}
h1 {
  font-size: 6rem;
  color: black;
  background-color: lightgray;
}
#buts {
  background-color: lightgray;
  width: 20%;
  margin: auto;
}
